/* ----- resets, html, and body styles ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 65.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #000000;
  padding: 3rem;
}

/* ----- text styles ----- */
h1,
h2,
h3,
.choose-move,
p {
  color: hsl(239, 100%, 90%);
}
h1, .score-box {
  font-size: 5rem;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 8rem;
}
p, .choose-move {
  font-size: 3rem;
}
.choose-move {
  font-weight: 700;
}

/* -- UI styles -- */
.game-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
/* move choice styles */
.choice-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.choose-move {
  width: 15rem;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: hsl(237, 76%, 76%);
  color: hsl(0, 0%, 100%);
}
.choose-move:hover {
  background-color: hsl(237, 76%, 65%);
}
.choose-move:active {
  background-color: hsl(237, 76%, 76%);
}
.choose-move:disabled {
  background-color: hsl(210, 13%, 50%);
}
.choose-move:disabled:active {
  background-color: hsl(210, 13%, 50%);
}
/* move area styles */
.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.move-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
} 
.game-move {
  width: 30rem;
  height: 30rem;
  border: 2.5rem solid hsl(235, 39%, 54%);
  border-radius: 50%;
  background-color: hsl(239, 100%, 90%);
}
.move-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.score-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 11.5rem;
  height: 7rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
}
.middle-content {
  display: flex;
  flex-direction: column;
  width: 20rem;
  text-align: center;
}

footer {
  flex-direction: column;
  color: hsl(0, 0%, 100%);
  width: 100%;
}
footer li {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.5rem;
}
.attrib-links ul {
  list-style: none;
}
.attrib-links a {
  color: hsl(235, 39%, 54%);
}

/* responsive area */
@media (max-width: 930px) {
  .game-area {
    flex-direction: column;
  }
}

@media (max-width: 590px) {
  body {
    gap: 1rem;
  }
  .middle-content {
    width: 30rem;
  }
}

@media (max-width: 400px) {
  h1, .score-box {
    font-size: 3rem;
  }
  p, .choose-move {
    font-size: 2rem;
  }
  .game-ui {
    gap: 0.5rem;
  }
  .game-move {
    width: 22rem;
    height: 22rem;
    border: 2rem solid hsl(235, 39%, 54%);
  }
  .score-box {
    width: 7.5rem;
    height: fit-content;
  }
}